name: Upload artifact

on:
  push:
    branches:
      - '**'
    tags-ignore: # ignore push via new tag
      - '*.*'
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  flutter_test:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v2.3.4
    - name: Install Flutter
      uses: subosito/flutter-action@v1.5.3
      with:
        channel: 'master'
    - name: Flutter format
    - run: |
        flutter format . --set-exit-if-changed
        flutter pub run import_sorter:main --no-comments --exit-if-changed"
    - name: Flutter analyze 
    - run: flutter analyze .
    - name: Flutter test
    - run: flutter test

  build_windows:
    runs-on: windows-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v2.3.4
    - name: Install Flutter
      uses: subosito/flutter-action@v1.5.3
      with:
        channel: 'master'
    - name: Enable desktop support
      run: flutter config --enable-windows-desktop
    - name: Build Windows app
      run: flutter build windows
    - name: Copy VC redistributables
      run: |
        Copy-Item (vswhere -latest -find 'VC\Redist\MSVC\*\x64\*\msvcp140.dll') .
        Copy-Item (vswhere -latest -find 'VC\Redist\MSVC\*\x64\*\vcruntime140.dll') .
        Copy-Item (vswhere -latest -find 'VC\Redist\MSVC\*\x64\*\vcruntime140_1.dll') .
      working-directory: ./build/windows/runner/Release
    - name: Create artifact
      uses: actions/upload-artifact@v2
      with:
        name: CCExtractor Flutter GUI Windows
        path: |
          ./build/windows/runner/Release/*.exe
          ./build/windows/runner/Release/*.dll
          ./build/windows/runner/Release/data

  build_linux:
      runs-on: ubuntu-latest
      steps:
      - name: Check out repository
        uses: actions/checkout@v2.3.4
      - name: Install Flutter
        uses: subosito/flutter-action@v1.5.3
        with:
          channel: 'master'
      - name: Enable desktop support
        run: |
          flutter config --enable-linux-desktop
          sudo apt-get install clang cmake ninja-build pkg-config libgtk-3-dev
      - name: Build Linux app
        run: flutter build linux
      - name: Create artifact
        uses: actions/upload-artifact@v2
        with:
          name: CCExtractor Flutter GUI Linux
          path: ./build/linux/x64/release/bundle/
